@font-face {
    font-family: "MonoCode";
    src: local("MonoLight-VG7yz"),
        url("../../fonts/monocode/MonoLight-VG7yz.ttf") format("truetype");
}
.project-item {
    width: max-content;
    min-width: -webkit-fill-available;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-item-header-main {
    display: flex;
    align-items: center;
}

.project-item-header-title {
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.project-item-header-img {
    width: 10rem;
    height: 10rem;
    padding-right:2rem;
}

.project-item-header:hover {
    cursor: pointer;
}

.expand-project-btn {
    width:2rem;
    height:2rem;
}

/* PROJECT ITEM CONTENT */

.project-item-content {
    font-family: "MonoCode";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:2rem;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.project-info-section {
    text-align: -webkit-center;
}

.project-images {
    max-width: fit-content;
}

.project-stack-section {
    min-width: fit-content;
}

.project-description {
    margin-top: 10rem;
}