.heading {
    color: #FFF5C3;
}

.description {
    display: none;
    background-color: #ffffff;
    color: #505050;
}

.heading :hover {
    color: white;
    cursor: pointer;
}

body {
    background-image: url("https://i.cdn.turner.com/nba/nba/.element/img/1.0/teamsites/logos/teamlogos_500x500/gsw.png");
    background-size: cover;
}

.projects {
    width: 80vw;
    padding: 20rem 10rem 10rem 10rem;
}

.project-image {
    width:800px;
    aspect-ratio: 3/2;
    object-fit: contain;
}