.heading {
    color: #FFF5C3;
}

.description {
    display: none;
    background-color: #ffffff;
    color: #505050;
}

.heading :hover {
    color: white;
    cursor: pointer;
}

body {
    background-image: url("https://i.cdn.turner.com/nba/nba/.element/img/1.0/teamsites/logos/teamlogos_500x500/gsw.png");
    background-size: cover;
}

.projects {
    width: 50%;
}

.project-item {
    list-style: none;
    background-color: #ff80b3;
    font-size: 1.3em;
    border: 1px solid white;
}