@font-face {
    font-family: "MonoCode";
    src: local("MonoLight-VG7yz"),
        url("../../fonts/monocode/MonoLight-VG7yz.ttf") format("truetype");
}
.project-item {
    width: max-content;
    min-width: -webkit-fill-available;
    min-width: -moz-available;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-item:hover {
    cursor: pointer;
}

.project-item-header-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-item-header-general {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.project-item-header-title {
    color: #fff;
    line-height: 65px;
    font-size: 3rem;
    font-weight: lighter;
}

.project-item-header-img {
    width: 20rem;
    height: 10rem;
    padding-right:5rem;
}

.project-item-header:hover {
    cursor: pointer;
}

.expand-project-btn {
    width:2rem;
    height:2rem;
}

.project-links a {
    text-decoration: none;
    color: white;
}

.project-links a:hover {
    text-decoration: none;
    color: #ffb5b5;
}

/* PROJECT ITEM CONTENT */

.project-item-content {
    font-family: "MonoCode";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:2rem;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.project-info-section {
    text-align: -webkit-center;
    text-align: -moz-center;
}

.project-images {
    max-width: fit-content;
} 

.project-stack-section {
    min-width: fit-content;
}

.project-description {
    margin-top: 10rem;
}

.project-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    width:50%;
    font-size: 2rem;
}

.project-links :hover {
    color: white;
    cursor: pointer;
}

.temp-holder {
    margin-bottom:3rem;
    border-radius: 8px;
    background: #1e222f;
    box-shadow: 5px 5px 10px #151821,
        -5px -5px 10px #272c3d;
    padding: 2rem;
}