.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Scroll Bar */

/* width */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3c445d;
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background: #1e222f;
}